langchain
langchain-community
langchain-groq
langchain-openai
langchain-anthropic
langchain-huggingface
sentence-transformers
neo4j
fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
docker
pypdf
streamlit
pyvis
networkx
